@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*, html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root {
    --green-bg: rgb(0, 157, 0);
    --green-txt: rgb(0, 157, 0);
    --faint-green: rgb(0, 182, 0);
    --faint-pink: rgb(255, 216, 222);
    --very-faint-green: rgba(144, 238, 144, 0.534);
    --milk-white: rgb(240, 240, 240);
    --faded-black: rgba(0, 0, 0, 0.067);
    --faded-yellow: rgba(255, 255, 0, 0.311);
    --faded-red: rgba(255, 0, 0, 0.311);
}
.loader {
    width: fit-content;
    margin: auto;
    margin-top: 20rem;
    text-align: center;
}
.loader img {
    width: 40px;
}
.sub-body {
    display: none;
    overflow: hidden;
}
header .sub-header .logo img {
    width: 50px;
}
header .sub-header .logo-text h2 {
    color: var(--green-txt);
}
header .sub-header .logo-text h2 + div {
    font-size: small;
}
header .sub-header-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .sub-header {
    display: flex;
    align-items: center;
}
header div button {
    padding: 10px 20px;
    background-color: var(--green-bg);
    color: white;
    border-radius: 7px;
    border: none;
    outline: none;
    transition: 0.25s;
    margin-right: 5px;
    cursor: pointer;
}
header div button:hover {
    background-color: var(--faint-green);
}

/* hero section styling */
main .section-cont {
    background-color: var(--faint-pink);
}
main .hero {
    padding-top: 1.5rem;
    padding-bottom: 25rem;
    margin-left: 5%;
    margin-right: 5%;
}
main .hero .meet {
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 5px 20px;
    color: var(--green-txt);
    width: fit-content;
    margin-bottom: 3rem;
}
main .hero h1 {
    margin-bottom: 10px;
    font-size: 37px;
}
main .hero p {
    color: var(--green-txt);
}
main .hero .about {
    line-height: 1.3;
}

/* section-2 styling */
main .section-cont-2 .about-cont {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: center;
}
main .section-cont-2 .about-cont .one {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 1px solid var(--very-faint-green);
    border-radius: 5px;
    padding: 20px;
}
main .section-cont-2 .about-cont .one img {
    width: 40px;
    background-color: var(--very-faint-green);
    border-radius: 100%;
    padding: 15px;
}
main .section-cont-2 .about-cont .one h5 {
    margin-bottom: 10px;
}
main .section-cont-2 .about-cont .one .content div {
    font-size: small;
}

/* signup */
#signup main {
    background: var(--milk-white);
    text-align: center;
    padding-top: 50px;
    height: 100vh;
}
#signup header .sub-header-cont {
    justify-content: flex-start;
    outline: 1px solid lightgray;
}
#signup main .section-container {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
#signup main .section-container .notice {
    position: absolute;
    transform: translateX(-110%);
    background-color: lightgreen;
    padding: 7px 15px;
    color: green;
}
#signup main .section-container .notice.show {
    animation: show 1s forwards;
}
@keyframes show {
    to {
        transform: translateX(10%);
    }
}
#signup main .section-container .notice.show.remove {
    animation: remove 2s forwards;
}
@keyframes remove {
    to {
        opacity: 0;
        /* transform: translateX(-110%); */
    }
}
#signup main h1 {
    margin-bottom: 5px;
}
#signup main h1 + div {
    text-align: left;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
}
#signup #google-login {
    display: flex;
    align-items: center;
    outline: 1px solid gray;
    width: fit-content;
    margin: auto;
    gap: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 7px 38px;
    /* transition: 0.25s; */
    cursor: pointer;
    border-radius: 5px;
}
#signup #google-login:hover {
    /* background-color: var(--faded-black);*/
    background: linear-gradient(var(--faded-red), var(--faded-yellow));
    color: green;
}
#signup #google-login img {
    width: 25px;
}
#signup main h1 ~ form {
    margin: auto;
    display: grid;
    width: 17rem;
    gap: 10px;
}
#signup main h1 ~ form div {
    display: flex;
    outline: 1px solid lightgray;
    background-color: white;
    align-items: center;
    width: 85%;
    padding: 9px 14px;
    margin: auto;
    border-radius: 5px;
}
#signup main h1 ~ form input {
    width: 85%;
    margin: auto;
    outline: none;
    border: none;
}
#signup main h1 ~ form input:nth-child(3) {
    padding: 10px 15px;
    outline: 1px solid lightgray;
    border-radius: 5px;
}
#signup main h1 ~ form button {
    width: 96%;
    height: 2rem;
    margin: auto;
    background-color: var(--green-bg);
    color: white;
    border: none;
    border-radius: 5px;
    corner-shape: bevel;
    cursor: pointer;
    transition: 0.25s;
    position: relative;
}
#signup main h1 ~ form button:hover {
    background-color: var(--faint-green);
}
#signup main h1 ~ form div img {
    width: 20px;
    opacity: 0.8;
}
#signup main h1 ~ form .two {
    margin-right: 8px;
}
#signup main h1 ~ form #loading {
    position: absolute;
    width: 3.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
/* #signup main h1 ~ form #loading + span {
    display: none;
} */
#signup main h1 ~ .or {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    margin: auto;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}
#signup main h1 ~ .or .line {
    background: lightgray;
    width: 7.5rem;
    height: 1px;
}
#signup main .login {
    margin-top: 15px;
    font-size: small;
}
#signup main .login a {
    color: var(--green-txt);
}


/* rearrange layout */
@media(min-width: 400px) {
    main .hero h1 {
        width: 390px;
    }
    main .hero .about {
        width: 360px;
    }
    main .section-cont-2 .about-cont .one {
        width: 320px;
    }
}
@media(min-width: 490px) {
    main .hero {
        margin-left: 10%;
        margin-right: 10%;
    }
}