@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*, html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
:root {
    --green-bg: rgb(0, 157, 0);
    --green-txt: rgb(0, 157, 0);
    --faint-green: rgb(0, 182, 0);
    --hover-green: rgba(0, 182, 0, 0.082);
    --faint-pink: rgb(255, 216, 222);
    --very-faint-green: rgba(144, 238, 144, 0.534);
    --milk-white: rgb(240, 240, 240);
    --faded-black: rgba(0, 0, 0, 0.067);
    --faded-black-lvl-1: rgba(0, 0, 0, 0.427);
    --faded-yellow: rgba(255, 255, 0, 0.311);
    --faded-red: rgba(255, 0, 0, 0.311);
    --smaller-txt: 12px;
    --slightly-faded-yellow: rgba(255, 255, 0, 0.481);
    --faded-orange: rgba(255, 166, 0, 0.328);
    --slightly-faded-orange: rgba(255, 166, 0, 0.493);
    --pale-green: rgb(225, 240, 225);
}
.loader {
    width: fit-content;
    margin: auto;
    margin-top: 20rem;
    text-align: center;
}
.loader img {
    width: 40px;
}
.sub-body {
    display: none;
    overflow: hidden;
}
header .sub-header .logo img {
    width: 50px;
}
header .sub-header .logo-text h2 {
    color: var(--green-txt);
}
header .sub-header .logo-text h2 + div {
    font-size: small;
}
header .sub-header-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .sub-header {
    display: flex;
    align-items: center;
}
header div button {
    padding: 10px 20px;
    background-color: var(--green-bg);
    color: white;
    border-radius: 7px;
    border: none;
    outline: none;
    transition: 0.25s;
    margin-right: 5px;
    cursor: pointer;
}
header div button:hover {
    background-color: var(--faint-green);
}

/* hero section styling */
main .section-cont {
    background-color: var(--faint-pink);
}
main .hero {
    padding-top: 1.5rem;
    padding-bottom: 25rem;
    margin-left: 5%;
    margin-right: 5%;
}
main .hero .meet {
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 5px 20px;
    color: var(--green-txt);
    width: fit-content;
    margin-bottom: 3rem;
}
main .hero h1 {
    margin-bottom: 10px;
    font-size: 37px;
}
main .hero p {
    color: var(--green-txt);
}
main .hero .about {
    line-height: 1.3;
}

/* section-2 styling */
main .section-cont-2 .about-cont {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: center;
}
main .section-cont-2 .about-cont .one {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 1px solid var(--very-faint-green);
    border-radius: 5px;
    padding: 20px;
}
main .section-cont-2 .about-cont .one img {
    width: 40px;
    background-color: var(--very-faint-green);
    border-radius: 100%;
    padding: 15px;
}
main .section-cont-2 .about-cont .one h5 {
    margin-bottom: 10px;
}
main .section-cont-2 .about-cont .one .content div {
    font-size: small;
}

/* signup */
#signup main {
    background: var(--milk-white);
    text-align: center;
    padding-top: 50px;
    height: 100vh;
}
#signup header .sub-header-cont {
    justify-content: flex-start;
    outline: 1px solid lightgray;
}
#signup main .section-container {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
#signup main .section-container .noticeCont {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#signup main .section-container .notice {
    transform: translateY(-100%);
    background-color: lightgreen;
    padding: 7px 15px;
    color: green;
}
#signup main .section-container .notice.show {
    animation: show 1s forwards;
}
@keyframes show {
    to {
        transform: translateY(4rem);
    }
}
#signup main .section-container .notice.show.remove {
    animation: remove 1s forwards;
}
@keyframes remove {
    from {
        opacity: 1;
        transform: translateY(4rem);
    }
    to {
        opacity: 0;
        display: none;
    }
}
#signup main h1 {
    margin-bottom: 5px;
}
#signup main h1 + div {
    text-align: left;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
}
#signup #google-login {
    display: flex;
    align-items: center;
    outline: 1px solid gray;
    width: fit-content;
    margin: auto;
    gap: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 7px 38px;
    /* transition: 0.25s; */
    cursor: pointer;
    border-radius: 5px;
}
#signup #google-login:hover {
    /* background-color: var(--faded-black);*/
    background: linear-gradient(var(--faded-red), var(--faded-yellow));
    color: green;
}
#signup #google-login img {
    width: 25px;
}
#signup main h1 ~ form {
    margin: auto;
    display: grid;
    width: 17rem;
    gap: 10px;
}
#signup main h1 ~ form div {
    display: flex;
    outline: 1px solid lightgray;
    background-color: white;
    align-items: center;
    width: 85%;
    padding: 9px 14px;
    margin: auto;
    border-radius: 5px;
}
#signup main h1 ~ form input {
    width: 85%;
    margin: auto;
    outline: none;
    border: none;
}
#signup main h1 ~ form input:nth-child(3) {
    padding: 10px 15px;
    outline: 1px solid lightgray;
    border-radius: 5px;
}
#signup main h1 ~ form button {
    width: 96%;
    height: 2rem;
    margin: auto;
    background-color: var(--green-bg);
    color: white;
    border: none;
    border-radius: 5px;
    corner-shape: bevel;
    cursor: pointer;
    transition: 0.25s;
    position: relative;
}
#signup main h1 ~ form button:hover {
    background-color: var(--faint-green);
}
#signup main h1 ~ form div img {
    width: 20px;
    opacity: 0.8;
}
#signup main h1 ~ form .two {
    margin-right: 8px;
}
#signup main h1 ~ form #loading {
    position: absolute;
    width: 3.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
/* #signup main h1 ~ form #loading + span {
    display: none;
} */
#signup main h1 ~ .or {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    margin: auto;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}
#signup main h1 ~ .or .line {
    background: lightgray;
    width: 7.5rem;
    height: 1px;
}
#signup main .login {
    margin-top: 15px;
    font-size: small;
}
#signup main .login a {
    color: var(--green-txt);
}

/* login page styling */
#login main {
    background: var(--milk-white);
    text-align: center;
    padding-top: 50px;
    height: 100vh;
}
#login header .sub-header-cont {
    justify-content: flex-start;
    outline: 1px solid lightgray;
}
#login main .section-container {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
#login main .section-container .noticeCont {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#login main .section-container .notice {
    transform: translateY(-100%);
    background-color: lightgreen;
    padding: 7px 15px;
    color: green;
}
#login main .section-container .notice.show {
    animation: show 1s forwards;
}
@keyframes show {
    to {
        transform: translateY(3rem);
    }
}
#login main .section-container .notice.show.remove {
    animation: remove 2s forwards;
}
/* @keyframes remove {
    to {
        opacity: 0;
        transform: translateY(-100%) scaleX(10%);
    }
} */
#login main h1 {
    margin-bottom: 5px;
}
#login main h1 + div {
    text-align: left;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
}
#login #google-login {
    display: flex;
    align-items: center;
    outline: 1px solid gray;
    width: fit-content;
    margin: auto;
    gap: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 7px 38px;
    /* transition: 0.25s; */
    cursor: pointer;
    border-radius: 5px;
}
#login #google-login:hover {
    /* background-color: var(--faded-black);*/
    background: linear-gradient(var(--faded-red), var(--faded-yellow));
    color: green;
}
#login #google-login img {
    width: 25px;
}
#login main h1 ~ form {
    margin: auto;
    display: grid;
    width: 17rem;
    gap: 10px;
}
#login main h1 ~ form div {
    display: flex;
    outline: 1px solid lightgray;
    background-color: white;
    align-items: center;
    width: 85%;
    padding: 9px 14px;
    margin: auto;
    border-radius: 5px;
}
#login main h1 ~ form input {
    width: 85%;
    margin: auto;
    outline: none;
    border: none;
}
#login main h1 ~ form input:nth-child(3) {
    padding: 10px 15px;
    outline: 1px solid lightgray;
    border-radius: 5px;
}
#login main h1 ~ form button {
    width: 96%;
    height: 2rem;
    margin: auto;
    background-color: var(--green-bg);
    color: white;
    border: none;
    border-radius: 5px;
    corner-shape: bevel;
    cursor: pointer;
    transition: 0.25s;
    position: relative;
}
#login main h1 ~ form button:hover {
    background-color: var(--faint-green);
}
#login main h1 ~ form div img {
    width: 20px;
    opacity: 0.8;
}
#login main h1 ~ form .two {
    margin-right: 8px;
}
#login main h1 ~ form #loading {
    position: absolute;
    width: 3.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
#login main h1 ~ form a {
    font-size: small;
    color: var(--green-txt);
    padding: 5px;
    text-align: right;
}
/* #login main h1 ~ form #loading + span {
    display: none;
} */
#login main h1 ~ .or {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    margin: auto;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}
#login main h1 ~ .or .line {
    background: lightgray;
    width: 7.5rem;
    height: 1px;
}
#login main .login {
    margin-top: 15px;
    font-size: small;
}
#login main .login a {
    color: var(--green-txt);
}

/* index page styling */
.sub-body {
    background-color: var(--milk-white);
}
main .noticeCont {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}
main .notice {
    transform: translateY(-100%);
    background-color: red;
    padding: 7px 15px;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: small;
    line-height: 1.4;
}
main .notice.show {
    animation: show 1s forwards;
}
main .notice.show.remove {
    animation: remove 1s forwards;
}

#index .inner-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh;
    overflow-y: auto;
}
#check-menu {
    display: none;
}
#check-menu + label .arrow-right {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
#check-menu:checked ~ .block-1 {
    transform: translateX(0);
}
.block-1 {
    position: fixed;
    width: 13rem;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    left: 0;
    background-color: white;
    outline: 1px solid lightgray;
    padding: 15px 10px;
    transform: translateX(-101%);
    transition: 0.3s;
    z-index: 15;
}
.block-1 .above-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.block-1 .above-menu .arrow, #check-menu + label .arrow-right {
    width: 1rem;
    height: 1rem;
    outline: 1px solid lightgray;
    padding: 7px;
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer;
}
.block-1 .above-menu .arrow:hover, #index #check-menu + label .arrow-right:hover {
    background: var(--faded-black);
}
.block-1 .logo-cont {
    display: flex;
    align-items: center;
    width: fit-content;
}
.block-1 .logo-cont .logo img {
    width: 40px;
}
.block-1 .logo-cont .logo-text h2 {
    color: var(--green-txt);
}
.block-1 .logo-cont .logo-text div {
    font-size: small;
}
.block-1 menu {
    height: 35rem;
}
.block-1 menu a {
    text-decoration: none;
    color: inherit;
}
.block-1 menu .item {
    margin: auto;
    margin-bottom: 5px;
    display: flex;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    align-items: center;
    gap: 10px;
    transition: 0.35s;
    cursor: pointer;
}
.block-1 menu .item:hover {
    background-color: var(--hover-green);
}
.block-1 menu a:nth-child(2) .item img {
    transition: 0.25s;
    border-radius: 100%;
    text-align: center;
}
.block-1 menu a:nth-child(2):hover img {
    background-color: lightcoral;
}
.block-1 menu .item img {
    width: 20px;
    height: 20px;
}
.block-1 menu .item div {
    font-size: small;
}
.block-1 menu .item.selected {
    background-color: var(--very-faint-green);
}
.block-1 .line {
    width: 100%;
    height: 1px;
    background-color: var(--faded-black);
    margin-top: 5px;
    margin-bottom: 5px;
}
.block-1 .line + a {
    text-decoration: none;
    color: inherit;
}
.block-1 .profile-cont {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 40px;
    transition: 0.25s;
    cursor: pointer;
}
.block-1 .profile-cont:hover {
    background-color: var(--faded-black);
}
.block-1 .profile-cont img {
    width: 2rem;
    background-color: gray;
    border-radius: 100%;
}
.block-1 .profile-cont .profile div:nth-child(1) {
    font-size: small;
    font-weight: bold;
}
.block-1 .profile-cont .profile div:nth-child(2) {
    color: var(--green-txt);
    font-size: small;
}

/* chat area styling */
/* steve chat box */
#index .grid-cont {
    display: grid;
    grid-template-areas: 
    "one"
    "two";
}

#index .block-2  {
    padding: 15px 10px;
    grid-area: one;
}
#index .back {
    margin-top: 1.5rem;
    margin-bottom: 15px;
    margin-left: 3.5rem;
    font-weight: bold;
}
#index .block-2 .chat-area {
    padding: 10px;
    outline: 1px solid var(--faded-black);
    height: 30rem;
}
#index .block-2 .chat-area .chat-cont {
    height: 85%;
    overflow-y: auto;
    /* outline: 1px solid red; */
}
#index .block-2 .chat-area .chat-cont::-webkit-scrollbar {
    display: none;
}
#index .block-2 .chat-area .input-cont {
    /* outline: 1px solid red; */
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 1rem;
    padding: 3px;
    width: 80%;
    position: relative;
}
#index .block-2 .chat-area .input-cont #trash_can {
    width: 17px;
    position: absolute;
    left: -47px;
    top: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 100%;
    transition: 0.25s;
}
#index .block-2 .chat-area .input-cont #trash_can:hover {
    background-color: var(--faded-red);
}
#index .block-2 .chat-area .input-cont #trash_can:hover + div {
    display: block;
}
#index .block-2 .chat-area .input-cont #trash_can + div {
    position: absolute;
    padding: 10px;
    width: fit-content;
    font-size: small;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.325);
    border-radius: 5px;
    outline: 1px solid lightgray;
    left: -10%;
    top: -40px;
    display: none;
}
#index .block-2 .chat-area .input-cont form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
#index .block-2 .chat-area .input-cont form input {
    width: 100%;
    height: 2rem;
    border: none;
    outline: none;
    padding: 5px;
}
#index .block-2 .chat-area .input-cont form button {
    width: 50px;
    height: 50px;
    padding: 7px 5px;
    text-align: center;
    border-radius: 100%;
    border: none;
    background-color: var(--green-bg);
    transition: 0.25s;
    cursor: pointer;
}
#index .block-2 .chat-area .input-cont form button:hover {
    background-color: var(--faint-green);
}
#index .block-2 .chat-area .input-cont form button img {
    width: 1.1rem;
    margin: auto;
}
#index .block-2 .chat-area .steve-cont {
    width: 15rem;
    margin-top: 10px;
    /* outline: 1px solid red; */
}
#index .block-2 .chat-area .steve-cont .steve {
    padding: 10px;
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    line-height: 1.5;
}
#index .block-2 .chat-area .steve-cont .steve .txt {
    font-size: small;
}
#index .block-2 .chat-area .steve-cont .steve .time {
    font-size: x-small;
    color: gray;
    margin-top: 7px;
}
/* thinking */
#index .block-2 .chat-area .steve-cont img {
    width: 5rem;
}
/* user chat box */
#index .block-2 .chat-area .user-cont {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
}
#index .block-2 .chat-area .user-cont .user {
    padding: 10px;
    width: fit-content;
    background-color: var(--very-faint-green);
    border-radius: 10px;
    line-height: 1.5;
    margin-left: auto;
}
#index .block-2 .chat-area .user-cont .user .user-txt {
    font-size: small;
}
#index .block-2 .chat-area .user-cont .user .user-time {
    font-size: x-small;
    color: gray;
    margin-top: 7px;
}
#index .block-2 .important {
    font-size: smaller;
    color: gray;
    margin: auto;
    margin-top: 10px;
    width: fit-content;
}

/* block-3 styling */
#index .block-3 {
    position: relative;
    background-color: white;
    padding: 10px;
    grid-area: two;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5rem;
    border-radius: 10px;
}
#index .block-3 .ingre-cont {
    margin-top: 10px;
}
#index .block-3 .ingre-cont .before-ingre {
    margin-bottom: 5px;
}
#index .block-3 .ingre-cont .cancel {
    padding: 6px;
    position: absolute;
    right: 15px;
    top: 1rem;
    transition: 0.3s;
    cursor: pointer;
}
#index .block-3 .ingre-cont .cancel div {
    position: relative;
    width: 30px;
    height: 5px;
    margin: 5px;
}
#index .block-3 .ingre-cont .cancel div::after {
    content: "";
    position: absolute;
    background-color: gray;
    height: 100%;
    width: 100%;
    z-index: 1;
}
#index .block-3 .ingre-cont .cancel.active div:nth-child(1)::after {
    transform: rotate(45deg);
    margin: 0;
    top: 5px;
}
#index .block-3 .ingre-cont .cancel.active div:nth-child(2)::after {
    transform: rotate(135deg);
    margin: 0;
    bottom: 5px;
}
#index .block-3 .ingre-cont .ingre {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-bottom: 10px;
}
#index .block-3 .ingre-cont .ingre div {
    outline: 1px solid var(--faded-black);
    padding: 10px;
    font-size: small;
    color: var(--green-txt);
    border-radius: 10px;
    width: fit-content;
}
#index .block-3 #green-loader {
    width: 40px;
    margin-top: 25px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 25px;
    display: none;
}
#index .block-3 .dishes {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}
#index .block-3 .dishes .pre-info {
    font-size: small;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#index .block-3 .dishes .dish {
    outline: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    line-height: 1.4;
}
#index .block-3 .dishes .dish h4 + div {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 5px;
}
#index .block-3 .dishes .dish h4 + div .info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: small;
}
#index .block-3 .dishes .dish h4 + div img {
    width: 15px;
    height: 15px;
}
#index .block-3 .dishes .dish .one .desc, #index .block-3 .uses {
    font-size: small;
    margin-top: 5px;
}
 #index .block-3 .uses {
    color: var(--green-txt);
 }
/* fav field styling */
#index .block-3 .dishes .two img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 100%;
    transition: 0.25s;
}
#index .block-3 .dishes .two img:hover {
    background-color: lightcoral;
}

/* favorites page styling */
#fav .sub-body {
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh;
    overflow-y: auto;
}
#fav .block-2 .fav-header {
    width: fit-content;
    margin-top: 10px;
    margin-left: 3.5rem;
}
#fav .block-2 .fav-header + div {
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    /* outline: 1px solid red; */
}
#fav .block-2 .fav-header + div .order {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#fav .block-2 #search img {
    width: 15px;
}
#fav .block-2 #search input {
    outline: none;
    border: none;
    background-color: transparent;
    width: 16rem;
}
#fav .block-2 #search {
    outline: 1px solid var(--faded-black);
    width: fit-content;
    background-color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}
#fav .block-2 .fav-header + div .order {
    margin-top: 10px;
}
#fav .block-2 .fav-header + div .order .sort select, #fav .block-2 .fav-header + div .order .filter select {
    padding: 5px;
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: bold;
}
#fav .block-2 .fav-header + div .order .sort div, #fav .block-2 .fav-header + div .order .filter div {
    font-size: var(--smaller-txt);
}
#fav .block-2 .fav-header + div .order .sort, #fav .block-2 .fav-header + div .order .filter {
    outline: 1px solid var(--faded-black);
    padding: 5px;
    border-radius: 8px;
}
#fav .block-2 .fav-header h2 {
    color: var(--green-txt);
}
#fav .block-2 .fav-header div {
    font-size: var(--smaller-txt);
}
#fav .block-3 {
    margin: auto;
    margin-top: 1rem;
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1rem;
    margin-bottom: 40px;
}
#fav .block-3 .dish-cont img {
    width: 1rem;
}
#fav .block-3 .dish-cont {
    position: relative;
    margin: auto;
    width: 18rem;
    border-radius: 10px;
    padding: 13px;
    background-color: white;
    outline: 1px solid var(--faded-black);
    line-height: 1.5;
}
#fav .block-3 .dish-cont .options {
    position: absolute;
    outline: 3px solid var(--faded-black);
    background-color: lightgray;
    border-radius: 10px;
    padding: 0.6rem;
    width: 12rem;
    line-height: 2;
    font-size: small;
    right: 10px;
    top: 3rem;
    display: none;
}
#fav .block-3 .dish-cont .options .option {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
#fav .block-3 .dish-cont .options .option:hover {
    text-decoration: underline;
}
#fav .block-3 .dish-cont .dish-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#fav .block-3 .dish-cont .dish-header img {
    border-radius: 100%;
    padding: 7px;
    cursor: pointer;
    transition: 0.3s;
}
#fav .block-3 .dish-cont .dish-header img:hover {
    background-color: var(--faded-black);
}
#fav .block-3 .dish-cont .sub-details {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    font-size: small;
}
#fav .block-3 .dish-cont .sub-detail {
    display: flex;
    align-items: center;
    gap: 6px;
}
#fav .block-3 .dish-cont .content {
    margin-top: 5px;
}
#fav .block-3 .dish-cont .content .uses {
    color: var(--green-txt);
}
#fav .block-3 .dish-cont .content .origin {
    background-color: gray;
    color: white;
    width: fit-content;
    padding: 5px;
    font-size: small;
}
#fav .block-3 .dish-cont .content .uses, #fav .block-3 .dish-cont .content .origin {
    font-weight: bold;
} 
#fav .block-3 .dish-cont .recipe {
    margin-top: 0.3rem;
    background-color: rgba(255, 166, 0, 0.827);
    width: fit-content;
    color: white;
    padding: 8px 18px;
    border-radius: 7px;
    margin-left: auto;
    font-size: small;
    cursor: pointer;
    transition: 0.25s ease;
}
#fav .block-3 .dish-cont .recipe:hover {
    background-color: orange;
}
#fav .block-3 .no-dish img {
    width: 20rem;
    height: 20rem;
}
.block-4 {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(3px);
    background-color: var(--faded-black-lvl-1);
    display: none;
}
.block-4 .recipeCont {
    width: 17rem;
    height: 30rem;
    padding: 20px;
    padding-bottom: 3.5rem;
    background-color: white;
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 0.7rem;
    overflow-y: auto;
}
.block-4 .recipeCont img {
    width: 2.5rem;
    margin-left: 50%;
    transform: translateX(-50%);
    display: none;
}
.block-4 .recipeCont .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.block-4 .recipeCont ul {
    margin-top: 0.6rem;
    line-height: 1.6;
}
.block-4 .recipeCont li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: small;
}
.block-4 .recipeCont .line {
    height: 1px;
    width: 100%;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}
.block-4 button {
    position: fixed;
    width: 17rem;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: var(--green-bg);
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    bottom: 21%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.25s;
    cursor: pointer;
}
.block-4 button:hover {
    background-color: var(--faint-green);
}
.block-4 .stepsCont {
    line-height: 1.45;
}
.block-4 .stepsCont .step {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: small;
    margin-top: 0.8rem;
}
.block-4 .stepsCont .step div:nth-child(1) {
    outline: 1px solid lightgray;
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
    padding: 5px;
}
.block-4 .stepsCont .step div:nth-child(2) {
    text-align: right;
}

/* styling for planner page */
#planner main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh;
    overflow-y: auto;
}
.block-2 {
    padding: 15px 10px;
}
#planner .block-2 .planner-header {
    margin-left: 45px;
    margin-bottom: 20px;
}
#planner .block-2 .planner-header div {
    font-size: small;
}
#planner .block-2 .add-from {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
#planner .block-2 .add-from .instruct {
    font-size: small;
    color: var(--green-txt);
    margin-bottom: 10px;
}
#planner .block-2 .add-from .dishes-cont {
    padding: 5px;
    overflow-x: auto;
    display: flex;
    gap: 1rem;
}
#planner .block-2 .add-from .dishes-cont::-webkit-scrollbar {
    display: none;
}
#planner .block-2 .add-from .dishes-cont .pre-dish {
    width: fit-content;
    margin: auto;
    color: var(--faded-black-lvl-1);
    font-size: small;
}
#planner .block-2 .add-from .dishes-cont .dish {
    min-width: 150px;
    width: 200px;
    outline: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
}
#planner .block-2 .add-from .dishes-cont .dish.selectable {
    box-shadow: 0 0 5px 5px lightgreen;
    cursor: pointer;
    transition: 0.25s;
}
#planner .block-2 .add-from .dishes-cont .dish button {
    padding: 7px 10px;
    border: none;
    border-radius: 7px;
    font-size: var(--smaller-txt);
    font-weight: bold;
    background-color: orangered;
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    transition: 0.25s;
}
#planner .block-2 .add-from .dishes-cont .dish button:hover {
    background-color: rgb(227, 61, 0);
}
#planner .block-2 .add-from .dishes-cont .dish.selectable button {
    display: none;
}
#planner .block-2 .add-from .dishes-cont .dish.selectable:hover {
    background-color: var(--very-faint-green);
}
#planner .block-2 .add-from .dishes-cont .dish h4 {
    margin-bottom: 5px;
}
#planner .block-2 .add-from .dishes-cont .dish .about {
    line-height: 1.5;
    font-size: small;
}
#planner .block-3 {
    padding: 10px;
    margin-bottom: 20px;
}
#planner .block-3 .content {
    padding: 20px 15px;
    border-radius: 10px 10px 0 0;
}
#planner .block-3 .plan-txt {
    width: fit-content;
    margin-bottom: 5px;
}
#planner .block-3 .date-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#planner .block-3 .date-bg button {
    border-radius: 100%;
    border: none;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 5px 1px black;
    transition: 0.25s;
    cursor: pointer;
}
#planner .block-3 .date-bg button:hover {
    background-color: rgb(211, 211, 211);
}
#planner .block-3 .date-bg button img {
    width: 12px;
}
#planner .block-3 .date-bg .date {
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: small;
    font-weight: bold;
}
#planner .block-3 .content-2 {
    padding: 20px 15px;
    border-radius: 0 0 10px 10px;
    background-color: var(--pale-green);
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}
#planner .block-3 .content-2 .add-meal-cont {
    min-width: 230px;
    min-height: 210px;
    width: 250px;
    padding: 10px;
    padding-bottom: 40px;
    border-radius: 8px;
}
#planner .block-3 .content-2 .add-meal-cont:nth-child(1) {
    background-color: yellow;
}
#planner .block-3 .content-2 .add-meal-cont:nth-child(2) {
    background-color: orange;
}
#planner .block-3 .content-2 .add-meal-cont:nth-child(3) {
    background-color: gray;
}
#planner .block-3 .content-2 .add-meal-cont .head div {
    font-size: small;
}
#planner .block-3 .content-2 .add-meal-cont .bg {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 200px;
}
#planner .block-3 .content-2 .add-meal-cont .bg .meal {
    position: relative;
    display: flex;
    gap: 1rem;
    padding: 10px;
    margin-top: 1rem;
    justify-content: space-between;
    background-color: white;
    border-radius: 7px;
    width: 90%;
    display: none;
}
#planner .block-3 .content-2 .add-meal-cont .bg .meal .menuIcon:hover {
    background-color: var(--faded-black);
}
#planner .block-3 .content-2 .add-meal-cont .bg .meal .meal-menu-cont {
    position: absolute;
    font-size: small;
    top: 50%;
    right: 0;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(gray, black);
    outline: 1px solid white;
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    display: none;
}
#planner .block-3 .content-2 .add-meal-cont .bg .meal .meal-menu-cont .remove-meal-cont, #planner .show-recipe-cont {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}
#planner .block-3 .content-2 .add-meal-cont .bg .meal .meal-menu-cont .remove-meal-cont:hover, #planner .show-recipe-cont:hover {
    transition: 0.25s;
    background-color: var(--milk-white);
    color: black;
}
#planner .block-3 .content-2 .add-meal-cont .bg .meal .meal-menu-cont img {
    background-color: white;
    padding: 5px;
    border-radius: 100%;
}
#planner .block-3 .content-2 .add-meal-cont .bg .meal img {
    width: 15px;
    align-self: flex-start;
    cursor: pointer;
    padding: 6px;
    border-radius: 100%;
    transition: 0.3s;
}
#planner .block-3 .content-2 .add-meal-cont .bg .add-meal {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px 30px;
    border-radius: 7px;
    font-size: small;
    cursor: pointer;
    width: fit-content;
}
#planner .block-3 .content-2 .add-meal-cont:nth-child(1) .bg .add-meal {
    outline: 2px dashed yellow;
}
#planner .block-3 .content-2 .add-meal-cont:nth-child(2) .bg .add-meal {
    outline: 2px dashed orange;
}
#planner .block-3 .content-2 .add-meal-cont:nth-child(3) .bg .add-meal {
    outline: 2px dashed lightgray;
}
#planner .block-3 .content-2 .add-meal-cont .bg .add-meal img {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    padding: 5px;
}
#planner .block-3 .content-2 .add-meal-cont:nth-child(1) .bg .add-meal img {
    background-color: yellow;
}
#planner .block-3 .content-2 .add-meal-cont:nth-child(2) .bg .add-meal img {
    background-color: orange;
}
#planner .block-3 .content-2 .add-meal-cont:nth-child(3) .bg .add-meal img {
    background-color: gray;
}

/* history page styling */
#history .sub-body {
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh;
    overflow-y: auto;
}
#history .sub-body::-webkit-scrollbar {
    display: none;
}
#history .block-2 .history-header {
    margin-left: 55px;
}
#history .block-2 .history-header h3 {
    color: var(--green-txt);
}
#history .block-2 .history-header div {
    font-size: small;
}
#history .block-2 .content {
    padding: 5px;
    margin-top: 20px;
}
#history .block-2 .content .date div {
    font-weight: bold;
}
#history .block-2 .content .date div span {
    opacity: 0.6;
}
#history .block-2 .content .dish-cont {
    outline: 1px solid var(--faded-black);
    padding: 10px;
    border-radius: 10px;
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-between;
    line-height: 1.4;
}
#history .block-2 #switch:checked + .tabs-cont::after {
    transform: translateX(89%);
}
#history .block-2 #switch {
    display: none;
}
#history .block-2 .tabs-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: fit-content;
    margin: auto;
    margin-top: 0.8rem;
    background-color: lightgray;
    border-radius: 20px;
    padding: 5px;
    position: relative;
}
#history .block-2 .tabs-cont::after {
    content: "";
    background-color: white;
    box-shadow: 0 0 5px 1px var(--faded-black-lvl-1);
    position: absolute;
    height: 77%;
    width: 50%;
    border-radius: 20px;
    left: 5px;
    transition: 0.25s;
}
#history .block-2 .tabs-cont div {
    padding: 7px 10px;
    cursor: pointer;
    z-index: 1;
    color: gray;
}
#history .block-2 .tabs-cont div:nth-child(1) {
    color: var(--green-txt);
}
#history .block-2 .content .dish-cont .dish div {
    min-width: 220px;
    max-width: 400px;
    font-size: small;
}
#history .block-2 .content-cont {
    height: 30rem;
    max-width: 70rem;
    overflow-y: auto;
    margin: auto;
}
#history .block-2 .content-cont .no-history {
    width: 20rem;
    height: 20rem;
    margin: 20px 50%;
    transform: translateX(-50%);
}
#history .block-2 .content .dish-cont .dayTime {
    font-size: var(--smaller-txt);
    background: gray;
    padding: 5px 10px;
    color: white;
    width: fit-content;
    height: fit-content;
    align-self: flex-start;
    border-radius: 20px;
}
#history .block-2 .content .dish-cont a {
    width: fit-content;
    height: fit-content;
}
#history .block-2 .content .dish-cont a button {
    padding: 10px 15px;
    border: none;
    outline: 1px solid orange;
    color: orange;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
}
#history .block-2 .content .dish-cont a button:hover {
    color: white;
    background-color: orange;
}
#history .block-2 .nav-cont {
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#history .block-2 .nav-cont img {
    width: 0.8rem;
    height: 0.8rem;
    padding: 15px;
    border-radius: 100%;
    transition: ease 0.3s;
    cursor: pointer;
}
#history .block-2 .nav-cont img:hover {
    background-color: var(--faded-black);
}
#history .block-2 .nav-cont img:nth-child(2) {
    width: 1rem;
    height: 1rem;
}
/* profile page styling */
#profile .sub-body {
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh;
    overflow-y: auto;
}
#profile main {
    margin-bottom: 3rem;
}
#profile main .intro {
    margin-left: 42px;
}
#profile main .intro .inner-intro {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#profile main .intro img {
    width: 1.2rem;
}
#profile main .grid-body {
    margin: auto;
    padding: 20px;
    max-width: 50rem;
    display: grid;
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four";
}
#profile main .grid-body section {
    margin: 1rem 1rem;
    line-height: 1.4;
}
#profile main .grid-body section h3 {
    max-width: 450px;
    margin: auto;
    margin-bottom: 0.3rem;
}
#profile main .grid-body section:nth-child(1) {
    grid-area: one;
    margin-left: 0;
    cursor: pointer;
}
#profile main .grid-body section:nth-child(2) {
    grid-area: two;
    padding: 1rem;
    display: flex;
    align-items: center;
    max-width: fit-content;
    min-width: 20rem;
    gap: 0.5rem;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 5px;
}
#profile main .grid-body section:nth-child(3) {
    grid-area: three;
}
#profile main .grid-body section:nth-child(4) {
    grid-area: four;
}
#profile main .grid-body section .inner-section {
    padding: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 5px;
    max-width: 400px;
    min-width: 310px;
}
#profile main .grid-body section .inner-section .acc {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#profile main .grid-body section:nth-child(3) .inner-section .acc {
    cursor: pointer;
}
#profile main .grid-body section .inner-section .acc select {
    width: 80px;
}
#profile main .grid-body section:nth-child(2) img {
    width: 2rem;
    background-color: var(--pale-green);
    border-radius: 100%;
    padding: 8px;
}
#profile main .grid-body section:nth-child(2) .about div {
    font-size: var(--smaller-txt);
}
#profile main .grid-body section .inner-section .acc img {
    width: 1.3rem;
    height: 1.3rem;
}
#profile main .grid-body section .inner-section .acc .title .desc {
    font-size: var(--smaller-txt);
}
#profile main .grid-body section .inner-section .line {
    width: 90%;
    height: 1px;
    background-color: var(--faded-black);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#profile main .grid-body section .inner-section .acc .notice-cont {
    display: flex;
    gap: 1rem;
}
#profile main .grid-body section .inner-section .acc label div {
    position: relative;
    width: 3rem;
    height: 1.5rem;
    background: black;
    border-radius: 20px;
    z-index: -1;
    cursor: pointer;
}
#profile main .grid-body section:nth-child(4) .inner-section .acc {
    justify-content: space-between;
}
#profile main .grid-body section .inner-section .acc #push {
    display: none;
}
#profile main .grid-body section .inner-section .acc label {
    cursor: pointer;
}
#profile main .grid-body section .inner-section .acc label div::before {
    content: "";
    position: absolute;
    height: 75%;
    width: 40%;
    background-color: white;
    border-radius: 100%;
    z-index: 1;
    top: 3px;
    left: 3.5px;
    transition: 0.25s ease-in;
}
#profile main .grid-body section .inner-section .acc #push:checked + label div {
    background-color: lightgreen;
}
#profile main .grid-body section .inner-section .acc #push:checked + label div::before {
    transform: translateX(21.5px);
}
#profile main a {
    text-decoration: none;
}
#profile main .log-out {
    margin: auto;
    background-color: var(--faded-red);
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 10px 0;
    max-width: 22rem;
    min-width: fit-content;
    border-radius: 5px;
    transition: 0.25s ease-in-out;
}
#profile main .log-out:hover {
    transform: translateY(-3px);
}
#profile main .log-out img {
    width: 20px;
}
#profile main .log-out div {
    font-size: small;
    font-weight: bold;
}
#profile .sub-body .update-cont {
    position: absolute;
    backdrop-filter: blur(3px);
    background-color: var(--faded-black);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
#profile .sub-body .update-cont .update-bg {
    background-color: gray;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    color: white;
}
#profile .sub-body .update-cont .update-bg .update {
    display: none;
}
#profile .sub-body .update-cont .update-bg .update form .field {
    margin-top: 15px;
}
#profile .sub-body .update-cont .update-bg .update form .field div {
    text-align: left;
    font-weight: bold;
    margin-bottom: 3px;
}
#profile .sub-body .update-cont .update-bg .update form .field input {
    padding: 10px;
    width: 15rem;
    min-width: fit-content;
    border-radius: 15px;
    border: 1px solid white;
    font-weight: bold;
}
#profile .sub-body .update-cont .update-bg .update form .field input:focus {
    outline: 3px solid black;
}
#profile .sub-body .update-cont .update-bg .update form button {
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    margin: 15px;
    transition: 0.25s ease;
}
#profile .sub-body .update-cont .update-bg .update form button:hover {
    background-color: lightgray;
}
#profile .sub-body .update-cont .update-bg .update form .info {
    margin: 10px;
    font-weight: none;
    font-size: var(--smaller-txt);
}
#profile .sub-body .update-cont .update-bg .cancel {
    cursor: pointer;
    width: fit-content;
    margin: auto;
}

/* footer styling */
footer .footer-grid {
    padding: 10px;
    display: grid;
    gap: 1rem;
    justify-content: space-around;
    grid-template-areas: 
    "one"
    "two"
    "three";
}
footer .section-1 {
    grid-area: one;
}
footer .section-1 .logo-cont {
    width: fit-content;
    display: flex;
    align-items: center;
}
footer .section-1 .logo-cont .logo img {
    width: 50px;
    margin-left: -5px;
}
footer .section-1 .logo-cont .logo-text h2 {
    color: var(--green-txt);
}
footer .section-1 .logo-cont .logo-text div {
    font-size: small;
}
footer .section-1 .intro {
    width: 14rem;
    font-size: smaller;
    line-height: 1.5;
}
footer .section-1 .social-cont {
    display: flex;
    gap: 15px;
}
footer .section-1 .social-cont img {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    outline: 1px solid var(--faded-black);
    transition: 0.25s;
    cursor: pointer;
}
footer .section-1 .social-cont img:hover {
    background-color: var(--faded-yellow);
}
/* subsection-1 styling */
#f {
    display: none;
}
footer .section-2 {
    grid-area: two;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;
}
footer .section-2 .sub-section input + label {
    display: inline-block;
    width: 100%;
}
footer .section-2 .sub-section {
    width: 18rem;
    transition: 0.3s;
    margin: auto;
}
footer .section-2 .sub-section .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
}
footer .section-2 .sub-section .head img {
    width: 15px;
    transform: rotate(-270deg);
}
footer .section-2 .sub-section .line {
    width: 100%;
    height: 1px;
    background-color: lightgray;
}
footer .section-2 .sub-section #f:checked + label .head img {
    transform: rotate(270deg);
}
footer .section-2 .sub-section #f:checked ~ .content {
    height: 0px;
    display: none;
}
footer .section-2 .sub-section .content {
    font-size: small;
    line-height: 2;
    padding: 2px 10px;
}
footer .section-2 .sub-section .content div:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* subsection-2 styling */
#f1 {
    display: none;
}
footer .section-2 .sub-section #f1:checked + label .head img {
    transform: rotate(270deg);
}
footer .section-2 .sub-section #f1:checked ~ .content {
    height: 0px;
    display: none;
}
/* subsection-3 styling */
#f2 {
    display: none;
}
footer .section-2 .sub-section #f2:checked + label .head img {
    transform: rotate(270deg);
}
footer .section-2 .sub-section #f2:checked ~ .content {
    height: 0px;
    display: none;
}
/* section-3 styling */
footer .section-3 {
    grid-area: three;
}
footer .section-3 .content {
    font-size: small;
    line-height: 3;
}
footer .section-3 form {
    display: flex;
    align-items: center;
    gap: 10px;
}
footer .section-3 form input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}
footer .section-3 form input:focus {
    outline: 3px solid var(--faint-green);
}
footer .section-3 form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--faint-green);
    color: white;
}
footer .copyright-cont {
    font-size: small;
    color: gray;
    width: fit-content;
    margin: auto;
    padding: 20px;
}


/* rearrange layout */
@media(min-width: 388px) {
    #index .block-3 .dishes .dish {
        width: 14rem;
        margin: auto;
    }
}
@media(min-width: 400px) {
    main .hero h1 {
        width: 390px;
    }
    main .hero .about {
        width: 360px;
    }
    main .section-cont-2 .about-cont .one {
        width: 320px;
    }
}
@media(min-width: 450px) {
    footer .footer-grid {
        grid-template-areas:
        "one two"
        "three three";
    }
    footer .section-2 .sub-section {
        width: auto;
        margin-top: 0;
    }
    footer .section-2 .sub-section input + label .head img {
        display: none;
    }
    footer .section-2 .sub-section #f:checked ~ .content {
        height: auto;
        display: block;
    }
    footer .section-2 .sub-section #f1:checked ~ .content {
        height: auto;
        display: block;
    }
    footer .section-2 .sub-section #f2:checked ~ .content {
        height: auto;
        display: block;
    }
}
@media(min-width: 490px) {
    main .hero {
        margin-left: 10%;
        margin-right: 10%;
    }
    #index .block-2 .chat-area .steve-cont {
        width: 20rem;
    }
}
@media(min-width: 777px) {
    #index .grid-cont {
        grid-template-areas: "one one one two";
        width: 80%;
        margin: auto;
    }
    #index .block-2 {
        margin-top: 0;
    }
    #index .block-3 {
        width: 17rem;
    }
    #index footer .footer-grid {
        grid-template-areas:
        "one two three";
    }
    /* rearrange menu */
    .block-1 {
        transform: translateX(0);
        height: auto;
        width: auto;
        right: 0;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.171);
        backdrop-filter: blur(3px);
    }
    .block-1 .flex-zone {
        display: flex;
        align-items: center;
        gap: 0.7rem;
        justify-content: space-around;
        padding: 10px 0;
    }
    .block-1 menu {
        height: auto;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .block-1 .above-menu .arrow, #check-menu + label .arrow-right {
        display: none;
    }
    .block-1 .line {
        display: none;
    }
    .block-1 .above-menu {
        margin-bottom: 0;
    }
    .block-1 menu .item {
        width: fit-content;
        padding: 5px 20px;
    }
    .block-1 .profile-cont {
        width: fit-content;
        margin-bottom: 0;
    }
    #index .back {
        margin-top: 6rem;
    }
    /* rearrange fav page */
    #fav .block-2 .fav-header {
        margin-top: 5rem;
    }
    #fav .block-2 .fav-header + div {
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #planner .block-2, #history .block-2, #profile main .grid-body {
        margin-top: 70px;
    }
    #profile main .grid-body section:nth-child(2), #profile main .grid-body section .inner-section {
        margin-left: 0;
        transform: translateX(0);
        margin-top: 0;
    }
    #profile main .grid-body {
        grid-template-areas:
        "one one"
        "two two" 
        "three four";
    }
    #profile main .intro {
        margin-left: 0;
    }
    #profile main .grid-body section:nth-child(3) {
        margin-left: 0;
    }
    #profile main .log-out {
        max-width: 49rem;
    }
}
@media(min-width: 1400px) {
    #index .block-3-cont {
        width: 36rem;
        margin: 0;
        margin-left: auto;
    }
    #index .block-3 {
        width: fit-content;
    }
    #index .block-2 .chat-area .steve-cont {
        width: 30rem;
    }
}