{% extends "layout.html" %}

{% block body %}
    <div class="loader">
        <img src="{{ url_for('static', path='gifs/water-loader.gif') }}" alt="laoder">
        <div>loading...</div>
    </div>
    <div class="sub-body">
        <header>
            <div>
                <!-- <img src="{{ url_for('static', path='images/right-arrow.png') }}" alt="arrow-logo"> -->
            </div>
        </header>
        <main>
            <div class="noticeCont">
                <!-- <div class="notice show">query field is empty</div> -->
            </div>
            <input type="checkbox" id="check-menu">
            <label for="check-menu">
                <img class="arrow-right" src="{{ url_for('static', path='images/menu.png') }}" alt="menu-logo">
            </label>
            <div class="block-1">
                <div class="flex-zone">
                    <div class="above-menu">
                        <div class="logo-cont">
                            <div class="logo">
                                <img src="{{ url_for('static', path='images/steve-logo.png') }}" alt="logo">
                            </div>
                            <div class="logo-text">
                                <h2>Steve</h2>
                                <div>Your AI Chef</div>
                            </div>
                        </div>
                        <label for="check-menu">
                            <img class="arrow" src="{{ url_for('static', path='images/left-arrow.png') }}" alt="arrow-logo">
                        </label>
                    </div>
                    <menu>
                        <a href="/">
                            <div class="item">
                                <img src="{{ url_for('static', path='images/home.png') }}" alt="home">
                                <div>Home</div>
                            </div>
                        </a>
                        <a href="">
                            <div class="item selected">
                                <img src="{{ url_for('static', path='images/love.png') }}" alt="favorites">
                                <div>Favorites</div>
                            </div>
                        </a>
                        <a href="/planner">
                            <div class="item">
                                <img src="{{ url_for('static', path='images/calender.png') }}" alt="favorites">
                                <div>Planner</div>
                            </div>
                        </a>
                        <a href="">
                            <div class="item">
                                <img src="{{ url_for('static', path='images/time.png') }}" alt="history">
                                <div>History</div>
                            </div>
                        </a>
                    </menu>
                    <div class="line"></div>
                    <div class="profile-cont">
                        <img src="{{ url_for('static', path='images/user.png') }}" alt="user">
                        <div class="profile">
                            <div>{{ request.session.get("username") }}</div>
                            <div>View profile</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-2">
                <div class="fav-header">
                    <h2>My Favorites</h2>
                    <div>All your saved recipes in one place.</div>
                </div>
                <div>
                    <form action="" id="search">
                        <img src="{{ url_for('static', path='images/search-2.png') }}" alt="search_icon">
                        <input type="text" name="fav" placeholder="Search your favorites..." autocomplete="off" autofocus>
                    </form>
                    <div class="order">
                        <div class="sort">
                            <div>Sort by</div>
                            <form action="">
                                <select name="sort" id="sort">
                                    <option value="recent">Recently added</option>
                                    <option value="oldest">Oldest Added</option>
                                    <option value="a-z">A-Z (Dish name)</option>
                                    <option value="quick">Quick meals</option>
                                    <option value="complex">Complex meals</option>
                                </select>
                            </form>
                        </div>
                        <div class="filter">
                            <div>Filter</div>
                            <form action="">
                                <select name="filter" id="filter">
                                    <option value="all">All recipes</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-3">
                <!-- <div class="dish-cont">
                    <div class="options">
                        <div class="option">
                            <img src="{{ url_for('static', path='images/love.png') }}" alt="love_icon">
                            <div>Remove from favorites</div>
                        </div>
                        <div class="option">
                            <img src="{{ url_for('static', path='images/calender.png') }}" alt="calender_icon">
                            <div>Add to meal planner</div>
                        </div>
                        <div class="option">
                            <img src="{{ url_for('static', path='images/big-share.png') }}" alt="calender_icon">
                            <div>Share</div>
                        </div>
                    </div>
                    
                    <div class="dish-header">
                        <h4>Garlic Soy chicken & Rice Bowl</h4>
                        <img src="{{ url_for('static', path='images/dots.png') }}" alt="dots_icon">
                    </div>
                    <div class="sub-details">
                        <div class="sub-detail">
                            <img src="{{ url_for('static', path='images/time.png') }}" alt="time_icon">
                            <div>25 min</div>
                        </div>
                        <div class="sub-detail">
                            <img src="{{ url_for('static', path='images/chart.png') }}" alt="chart_icon">
                            <div>Easy</div>
                        </div>
                    </div>
                    <div class="content">
                        <div>Savory garlic soy chicken served over rice with steamed broccoli</div>
                        <div class="uses">Uses: Chicken, Rice, Broccoli, Garlic, Soy Sauce</div>
                        <div class="origin">Orign: India</div>
                    </div>
                    <div class="recipe">View Recipe</div>
                </div> -->
            </div>
            <div class="block-4">
                <div class="recipeCont">
                    <img src="{{ url_for('static', path='gifs/green_loader.gif') }}" alt="loader">
                    <div class="main-content">
                        <!-- <h3>Garlic Soy Chicken & Rice Bowl</h3>
                        <div class="ingreCont">
                            <div class="title">
                                <h4>Ingredients</h4>
                                <div>6 items</div>
                            </div>
                            <ul>
                                <li>
                                    <div>Boneless skinless chicken thighs</div>
                                    <div>2 piece</div>
                                </li>
                                <li>
                                    <div>Cooked white rice</div>
                                    <div>2 cups</div>
                                </li>
                                <li>
                                    <div>Garlic (minced)</div>
                                    <div>3 cloves</div>
                                </li>
                            </ul>
                            <div class="line"></div>
                            <div class="stepsCont">
                                <h4>Steps</h4>
                                <div class="step">
                                    <div>1</div>
                                    <div>In a bowl, mix minced garlic, soy sauce, and a little water. Add chicken and marinate for 15 minutes</div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <button>ok</button>
            </div>
        </main>
        <footer>
            <div class="footer-grid">
                <div class="section-1">
                    <div class="logo-cont">
                        <div class="logo">
                            <img src="{{ url_for('static', path='images/steve-logo.png') }}" alt="logo">
                        </div>
                        <div class="logo-text">
                            <h2>Steve</h2>
                            <div>Your AI Chef</div>
                        </div>
                    </div>
                    <div class="intro">Your smart cooking companion that helps you make the most of what you have.</div>
                    <div class="social-cont">
                        <a href="https://x.com/0xgrindpa"><img src="{{ url_for('static', path='images/twitter.png') }}" alt="x logo"></a>
                        <a href="https://github.com/001grindpa/Steve"><img src="{{ url_for('static', path='images/github.png') }}" alt="github logo"></a>
                        <img src="{{ url_for('static', path='images/linkedin-2.png') }}" alt="linkedin logo">
                    </div>
                </div>
                <div class="section-2">
                    <div class="sub-section">
                        <input type="checkbox" id="f" checked>
                        <label for="f">
                            <div class="head">
                                <h4>Product</h4>
                                <div class="arrow">
                                    <img src="{{ url_for('static', path='images/left-arrow.png') }}" alt="left-arrow.png">
                                </div>
                            </div>
                        </label>
                        <div class="line"></div>
                        <div class="content">
                            <div>How it works</div>
                            <div>Meal Planner</div>
                            <div>Pricing</div>
                        </div>
                    </div>
                    <div class="sub-section">
                        <input type="checkbox" id="f1" checked>
                        <label for="f1">
                            <div class="head">
                                <h4>Resources</h4>
                                <div class="arrow">
                                    <img src="{{ url_for('static', path='images/left-arrow.png') }}" alt="left-arrow.png">
                                </div>
                            </div>
                        </label>
                        <div class="line"></div>
                        <div class="content">
                            <div>Help Center</div>
                            <div>Blog</div>
                            <div>Recipe Ideas</div>
                        </div>
                    </div>
                    <div class="sub-section">
                        <input type="checkbox" id="f2" checked>
                        <label for="f2">
                            <div class="head">
                                <h4>Company</h4>
                                <div class="arrow">
                                    <img src="{{ url_for('static', path='images/left-arrow.png') }}" alt="left-arrow.png">
                                </div>
                            </div>
                        </label>
                        <div class="line"></div>
                        <div class="content">
                            <div>About Steve</div>
                            <div>Privacy Policy</div>
                            <div>Terms of Service</div>
                        </div>
                    </div>
                </div>
                <div class="section-3">
                    <h4>Stay in the loop</h4>
                    <div class="content">
                        <div>Get tips, recipe ideas and updates from Steve.</div>
                    </div>
                    <form action="">
                        <input type="text" name="sub" placeholder="Enter your email">
                        <button>Subscribe</button>
                    </form>
                </div>
            </div>
            <div class="copyright-cont">
                <div>&copy; <span>2026</span> Steve AI Chef. All rights reserved.</div>
            </div>
        </footer>
    </div>

{% endblock %}